
#root > .content {
    background-image: url('../img/RecycleNetwork_1300Lede1.jpg');
    background-repeat: no-repeat;
    background-position: 14% 0%;
    background-color: #25222d;
    // background: linear-gradient(180deg, #252330 16%, #25222b 45%);
}