.full-banner {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    .full-banner-image {
        position: absolute;
        height: 100vh;
        width: 100%;
    }
}

.me-message,
.fullbanner-social.social {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.me-message {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.me-message .container {
    position: relative;
}
.message {
    position: relative;
    text-align: left;
}

.message h2 {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 28%;
}

.professional-image {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
}

.professional-image img {
    max-width: 100%;
}

span.text-line {
    width: 21%;
    height: 2px;
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 50px;
    background: rgb(85, 225, 227);
    background: linear-gradient(50deg, rgba(85, 225, 227, 1) 19%, rgba(85, 225, 227, 1) 50%, rgba(10, 251, 175, 1) 93%);
}

.fullbanner-social.social {
    bottom: 0%;
    left: 0%;
    ul {
        list-style: none;
        display: flex;
        margin: 0 0 1.5rem 0;
        padding: 0;
        li {
            color: #fff;
            flex: 0 0 3.5rem;
            a {
                color: #5f2eaa;
                width: 40px;
                height: 40px;
                display: inline-block;
                line-height: 42px;
                text-align: center;
                font-size: 22px;
                border-radius: 50px;
            }
        }
    }
}

.ecommerce-analyse {
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 0 1.5rem 0;
}

.ecommerce-analyse button.btn.btn-ecommerce-analyse {
    background-color: rgba(114, 47, 206, 0.8);
    height: 90px;
    width: 200px;
    color: #77e9ea;
    font-weight: 600;
    position: relative;
    line-height: 14px;
    padding: 15px 20px;
    border: 2px solid transparent;
    &:focus {
        box-shadow: 0 0 0 0.2rem hsla(264, 67%, 38%, 0.7);
    }
    
}

.btn-ecommerce-analyse:before {
    content: "";
    position: absolute;
    box-shadow: 0 0 4px rgba(0, 255, 193, 0.75);
    top: 0;
    left: 0;
    width: 2px;
    background-color: rgba(0, 255, 193, 0.75);
    transform: translateX(135%);
    height: 100%;
    animation: move 1.5s cubic-bezier(0.15, 0.44, 0.76, 0.64);
    animation-iteration-count: infinite;
}

.btn-ecommerce-analyse:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: beam 0.01s infinite;
    z-index: 2;
}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

.ecommerce-analyse button.btn.btn-ecommerce-analyse small {
    font-weight: 700;
    display: block;
    font-size: 12px;
    color: #03f794;
    margin-top: 5px;
    transition: all 0.3s linear;
}

@keyframes move {
    65% {
        transform: translateX(190px);
    }
    70% {
        transform: translateX(190px);
    }
}

.ecommerce-analyse button.btn.btn-ecommerce-analyse:hover {
    border: 2px solid #5faeb3;
    background-color: #242128;
}

.ecommerce-analyse:hover  button.btn.btn-ecommerce-analyse:before,
.ecommerce-analyse:hover button.btn.btn-ecommerce-analyse:after {
    display: none;
}

.ecommerce-analyse button.btn.btn-ecommerce-analyse:hover small {
    color: #5f2eaa;
}













.ecommerce-analyse .modal {
    display: block;
    opacity: 0;
    visibility: hidden;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.modal-dialog .modal-content {
    border: none;
    box-shadow: none;
    background-color: rgba(114, 47, 206, 1);
}

.modal-dialog .modal-content button.close span {
    text-shadow: none;
    color: #230c42;
    opacity: 1;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.modal-footer button {
    display: inline-block;
    margin: 0 auto;
    background-color: #722fce;
    border: 2px solid #56249a;
}




.modal-dialog {
    position: absolute;
    right: 120px;
    bottom: 6px;
    width: 50%;
    opacity: 0;
    transition: all 0.3s linear;
    visibility: hidden;
    transform: scale(0.5)
}

.ecommerce-analyse.active .modal {
    opacity: 1;
    visibility: visible;
}

.ecommerce-analyse.active .modal .modal-dialog {
    visibility: visible;
    opacity: 1;
    left: 50%;
    top: 30%;
    right: auto;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.ecommerce-analyse button.btn.btn-ecommerce-analyse {
    transition: all 0.3s linear;
}

.ecommerce-analyse.active button.btn.btn-ecommerce-analyse {
    margin: 0 20% 20% 0;
    opacity: 0;
    font-size: 0;
    border-color: rgba(114, 47, 206, 0.8);
    background-color: rgba(114, 47, 206, 0.8);
}

.modal-header {
    background-image: url('https://images8.alphacoders.com/984/thumb-1920-984617.jpg');
    height: 200px;
    background-position: 40% 80%;
    background-size: 500px;
    background-repeat: no-repeat;
}