$svgIconDevelopment: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath fill='rgb(106, 201, 207)' d='M877.3,500c-4.3,38.6-20,73.6-43,102.4l32.9,32.9l-31.5,31.5l-32.9-32.9c-28.8,23-63.7,38.7-102.3,43v45.9h-44.6v-45.9c-38.6-4.3-73.6-20-102.4-43l-32.9,32.9l-31.5-31.5l32.9-32.9c-23-28.8-38.7-63.7-43-102.4h-45.9v-44.5h45.9c4.3-38.6,20-73.5,43-102.4l-32.9-32.9l31.5-31.5l32.9,32.9c28.8-23,63.7-38.8,102.4-43.1v-45.8h44.6v45.8c38.6,4.3,73.5,20,102.3,43.1l32.9-32.9l31.5,31.5l-32.9,32.9c23,28.8,38.7,63.7,43,102.4l45.9,0V500H877.3L877.3,500z M678.2,321.8c-86.1,0-155.9,69.8-155.9,155.9s69.8,155.9,155.9,155.9c86.1,0,155.9-69.8,155.9-155.9C834.1,391.6,764.3,321.8,678.2,321.8L678.2,321.8z M433.2,811.8c0,24.6-20,44.6-44.6,44.6c-24.6,0-44.5-20-44.5-44.6c0-24.6,20-44.5,44.5-44.5C413.2,767.3,433.2,787.2,433.2,811.8L433.2,811.8z M165.9,232.7h245v44.5h-245V232.7L165.9,232.7z M165.9,633.6v-44.5h178.2v44.5H165.9L165.9,633.6z M165.9,410.9h200.4v44.6l-200.4,0V410.9L165.9,410.9z M655.9,143.6c0-61.5-27.6-89.1-89.1-89.1H210.5c-61.5,0-89.1,27.6-89.1,89.1v712.7c0,61.5,27.6,89.1,89.1,89.1h356.4c61.5,0,89.1-27.6,89.1-89.1v-66.8h44.6v89.1c0,61.5-49.9,111.4-111.4,111.4H188.2c-61.5,0-111.4-49.9-111.4-111.4V121.4C76.8,59.9,126.7,10,188.2,10h400.9c61.5,0,111.4,49.9,111.4,111.4v44.6h-44.5V143.6L655.9,143.6z'/%3E%3C/g%3E%3C/svg%3E");

.icon-custom {
    width: 33px;
    height: 33px;
    background-position: center;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    &.svg-devlopment {
        background-image: $svgIconDevelopment;
    }
}

section#skills {
    min-height: 100vh;
    line-height: 80vh;
    background: rgb(37,34,43);
    background: linear-gradient(180deg, rgba(37,34,43,1) 16%, rgba(32,30,37,1) 45%);
    .skills-container {
        display: inline-block;
        vertical-align: middle;
    }
    .container {
        line-height: 20px;
    }
    h2 {
        color: #26f1c3;
        margin-bottom: 3rem;
        z-index: 0;
        position: relative;
        display: inline-block;
        &:after {
            content: '';
            position: absolute;
            width: 30%;
            height: 2px;
            background-color: #4d00e8;
            top: 41px;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        } 
        
    }
    .filters-container {
        margin-bottom: 2rem;
        a.btn.btn-link {
            color: #4d00e8;
        }
        .list-type-filters {
            right: 0;
        }
    }
    .card {
        background-color: transparent;
        color: #fff;
        border-color: #364c57;
        .card-body {
            margin-top: 20px;
            position: initial;
            .card-title {
                margin: 0;
                font-size: 14px;
            }
            p {
                margin: 0;
                font-size: 12px;
            }
        }
    }


    .slick-slide.slick-active.slick-center.slick-current li {
        padding: 0 0;
    position: absolute;
    left: 50%;
    background-color: #4d00e8 !important;
    height: 100%;
    border-color: #4d00e8 !important;
    width: 115% !important;
    transform: translateX(-50%);
    z-index: 1;
    line-height: 110px;
    border-radius: 6px;
    }
    
    .slick-slide li {
        padding: 20px 10px;
    }
    .slick-track {
        height: 120px;
        padding: 0 0;
    }
    .slick-track li {
        line-height: 20px;
    }
    .slick-slide.slick-active.slick-center.slick-current li .card {
        background-color: transparent;
        color: #FFF;
        line-height: initial;
        border: none;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .slick-arrow:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #4d00e8;
        font-size: 25px;
    }
    .slick-next:before {
        content: "\f054";
    }
    .slick-prev:before {
        content: "\f053";
    }
    button.slick-arrow.slick-next {
        right: 0;
    }
    button.slick-arrow.slick-prev {
        left: 0;
    }
    .slick-slide.slick-active .card {
        background-color: #25232b;
    }
    
    .card .card-body {
        margin: 0;
    }
    
    .slick-slide.slick-active.slick-center.slick-current {
        position: relative;
    }
    .card {
        border: 2px solid #242329;
        color: #34313a;
    }
}
