@import "settings";

body * {
    font-family: $fontFamily;
}

h1 {
    font-size: 16px;
    margin: 0;
}

header {
    height: 45px;
    line-height: 45px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    .left-menu .language .options {
        display: none;
    }
}

.header-space {
    display: flex;
    line-height: 60px;
    justify-content: space-between;
}

.language span.selected {
    color: $mediumTurquoise;
}

.right-menu a {
    display: flex;
    h1 {
        line-height: 60px;
    }
}
.right-menu a img {
    width: 30px;
    margin-right: 10px;
    height: auto;
    align-self: center;
}

.left-menu.links {
    display: flex;
    justify-content: space-between;
    .language {
        padding: 0 15px;
    }
}

.menu a {
    padding: 0 10px;
    position: relative;
    font-size: 14px;
    text-shadow: none;
    outline: none;
    color: #4dbad2;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.menu a:before {
    position: absolute;
    top: 0;
    height: 35px;
    line-height: 19px;
    left: 10px;
    overflow: hidden;
    max-width: 0;
    color: #e5f0f1;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.menu a:hover::before {
    max-width: 100%;
}

a.btn.btn-send-job.btn-purple {
    padding: 0 20px;
    border: none;
    line-height: 40px;
    position: relative;
    height: 40px;
    box-shadow: 0 0 1px 2px #61b6b9;
    font-size: 12px;
    border-radius: 4px;
    color: #1edae4;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.extra-links {
    padding-left: 20px;
}

.full-banner {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    .full-banner-image {
        position: absolute;
        height: 100vh;
        width: 100%;
        transition: all 0.3s linear;
        background-image: url("../img/RecycleNetwork_1300Lede1.jpg");
    }
}

h1 {
    display: inline-block;
    font-size: 18px;
    color: $mediumTurquoise;
}

.me-message,
.fullbanner-social.social {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.me-message {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.me-message .container {
    position: relative;
}
.message {
    position: relative;
    text-align: left;
}

.message h2 {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 28%;
}

.professional-image {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
}

.professional-image img {
    max-width: 100%;
}

span.text-line {
    width: 21%;
    height: 2px;
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 50px;
    background: rgb(85, 225, 227);
    background: linear-gradient(50deg, rgba(85, 225, 227, 1) 19%, rgba(85, 225, 227, 1) 50%, rgba(10, 251, 175, 1) 93%);
}

.fullbanner-social.social {
    bottom: 0%;
    left: 0%;
    ul {
        list-style: none;
        display: flex;
        margin: 0 0 1.5rem 0;
        padding: 0;
        li {
            color: #fff;
            flex: 0 0 3.5rem;
            a {
                color: #5f2eaa;
                width: 40px;
                height: 40px;
                display: inline-block;
                line-height: 42px;
                text-align: center;
                font-size: 22px;
                border-radius: 50px;
            }
        }
    }
}
